body {
    background-color: rgb(240, 205, 140);
}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    font-weight: bold;
    color: rgb(240, 205, 140);
}

header {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#author {
    color: white;
    font-weight: bolder;
}

p{
    font-family: Helvetica;
    font-weight: bold;
}

a {
    font-weight: bold;
    color: blue;
}