* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsla(30,40%,10%,1);
}


nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2baadd;
	display: table;
	width: 100%;
}

nav li {
	display: table-cell;
}

#logo {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 0px 0px 60px;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 30px;
    text-decoration: none;
}

li a:hover {
	background-color: hsla(30,40%,10%,1);
}


header {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
    height: 460px;
    border: black 1px solid;
}

aside {
    margin: 20px 0;
    padding: 5px 40px;
    border: 5px solid white;
    border-radius: 10px;
}

h1 {
    margin: 120px 0 80px 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120px;
    font-weight: 900;
    color: hsla(30,40%,10%,1);
    letter-spacing: 23px;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#author {
    font-size: 38px;
    font-family: Helvetica;
    color: white;
    font-weight: 900;
    text-align: right;
    padding-right: 21%;
}

main {
    padding: 0 30%;
}

h3, li {
    color: hsla(0,0%,100%,1);
}



p{
    color: hsla(0,0%,100%,1);
    font-family: Helvetica;
    font-weight: bold;
}

a {
    color: hsla(0,0%,100%,1);
    font-weight: bold;
}

#khanLink {
    font-size: 30px;
    color: rgb(0, 132, 255);
}

figcaption {
    color: white;
    font-size: large;
    font-style: italic;
}